<div class="modal fade in" id="modal-superdeal-subscribe" style="top: 65%; display: block;" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" style="text-align: center;">
                <button type="button" class="close btn" data-dismiss="modal" aria-hidden="true">×</button>
                <div class="col-md-12">
                    Ssst, hold it! We have a very special offer for you! <br>
                    We are now offering the 12-months subscription at a fantastic price! <br>
                    Be quick, it only lasts for 20 minutes. Subscribe now!<br>
                    <div id="subscribe"><a id="subscribe-btn" href="/init/default/subscribe" class="btn btn-primary">HAVE A LOOK</a></div>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>
