<section id="main" class="row">


    <div class="col-sm-12" id="mobile_user_video">
        <div id="plans">
            <!-- item -->
            <div class="col-md-6 text-center col-md-offset-3">
                <div class="panel panel-danger panel-pricing">
                    <div class="panel-heading">
                        <h3>Too bad, you didn't pass lesson mastery this time. Try again?</h3>
                    </div>

                    <div class="panel-footer">
                        <a class="btn btn-lg btn-block btn-success" href="/#!/">Back to Course
                            Material</a>
                        <a class="btn btn-lg btn-block btn-success" href="/#!/lesson_mastery/{{ lesson_id }}">Try Again</a>
                    </div>
                </div>
            </div>
            <!-- /item -->


        </div>
    </div>
</section>

