.content {
	margin-top: 10px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

ul.admin-nav li a {
	border: none;
}
ul.admin-nav li {
	padding: 0 20px;
}
ul.admin-nav li:first-child {
	padding-left: 0;
}
ul.admin-nav  li:last-child a {
	border-right: none;
}
