<section data-ng-controller="LessonController">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8">
                <h2 style="margin-top: 0;">Prove mastery
                    <small>Get 90% correct to prove your mastery</small>
                </h2>
            </div>

            <div class="col-md-4">
                <div class="pull-right">
                    <button type="button" class="btn btn-primary">Total <span class="badge">14</span> quizes</button>
                    <button type="button" class="btn btn-danger"><span class="badge">0</span> quiz wrong</button>
                </div>

            </div>
        </div>
        <div class="clearfix"></div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <strong>Why are Chinese names so short?</strong>
            </div>
            <div class="panel-body">
                <div id="answer_list">

                    <div class="answer_box_master centered"><h3 style="font-weight:normal;">Because every character is only 1
                        syllable </h3>
                    </div>


                    <div class="answer_box_master centered"><h3 style="font-weight:normal;">Because they like it short </h3>

                    </div>


                </div>

            </div>
        </div>


    </div>

</section>
