<section class="row" data-ng-controller="SettingsController">

    <div class="col-xs-12 col-md-7">
        <h3 class="row">Edit your profile</h3>

        <form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin form-horizontal"
              autocomplete="off">
            <fieldset>
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" id="firstName" name="firstName" class="form-control"
                           data-ng-model="user.firstName" placeholder="First Name">
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="user.lastName"
                           placeholder="Last Name">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" disabled class="form-control" data-ng-model="user.email"
                           placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" class="form-control" data-ng-model="user.username"
                           placeholder="Username">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-large btn-primary">Save Profile</button>
                </div>
                <div data-ng-show="success" class="text-success">
                    <strong>Profile Saved Successfully</strong>
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="col-xs-12 col-md-4 col-md-offset-1">
        <h3 class="">Subscription Information</h3>

        <div class="row" ng-if="user.subscribed">
            <div class="col-md-12">

                <p><label>Current Plan: </label>&nbsp;{{ user.plan_id }}</p>

                <p><label>Next Billing Date: </label>&nbsp;{{ user.next_billing | date:'fullDate' }}</p>

                <button class="btn btn-danger" ng-click="unsubscribe()">Unsubscribe</button>
                <a class="btn btn-primary" href="/#!/subscribe">Change Plan</a>
            </div>


        </div>
        <div class="row" ng-if="!user.subscribed">
            <div class="col-md-12">
                <a class="btn btn-primary" href="/#!/subscribe">Subscribe</a>
            </div>


        </div>

    </div>
</section>
